.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 15px;
    color: rgb(12, 110, 110);
    margin: 15px;

}

.Pagination button {
    background: none;
    color: rgb(12, 110, 110);
    padding: 5px 15px;
    border: 2px solid rgb(12, 110, 110);
    background: white;
    cursor: pointer;
    transition: all .3s;
    align-self:stretch;
}

.Pagination button:first-child {
    border-right: none;
}



.Pagination button:hover {
    background: rgb(12, 110, 110);
    color: white;
}


.Pagination p {
    background: white;
    padding: 5px 15px;
    border-top: 2px solid rgb(12, 110, 110);
    font-weight: bold;
    border-bottom: 2px solid rgb(12, 110, 110);
    border-left: 2px solid rgb(12, 110, 110);
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 0;
}

.Pagination p:hover {
    background: rgb(12, 110, 110);
    color: white;

}